<div class="nav flex-column nav-pills navix"  >
  <a  class="nav-link" [ngClass]="{'active': indx==1}" (click)="activeme(1)" href="#v-pills-home" role="tab" >天老大天老大天老大天老大天老大天老大天老大天老大</a>
  <a  class="nav-link" [ngClass]="{'active': indx==2}" (click)="activeme(2)" href="#v-pills-profile" role="tab"  >地老二</a>
  <a  class="nav-link" [ngClass]="{'active': indx==3}" (click)="activeme(3)" href="#v-pills-messages" role="tab" >我老三</a>
  <a  class="nav-link" [ngClass]="{'active': indx==4}" (click)="activeme(4)" href="#v-pills-settings" role="tab" >众人皆四</a>
</div>